<footer id="footer">
  <div class="container d-md-flex justify-content-between align-items-center py-4">
    <div class="text-center text-md-start mb-3 mb-md-0">
      <div class="copyright">
        &copy; Copyright <strong><span>ByteBazaar</span></strong>. All Rights Reserved
      </div>
    </div>
    <div class="footer-links text-center text-md-start">
      
      <ul class="list-unstyled">
        <li><a href="/home">Home</a></li>
        <li><a href="/catalogo">Catálogo</a></li>
        <li><a href="/contacto">Contacto</a></li>
      </ul>
      <ul class="list-unstyled">
        <li><a href="/moviles">Móviles</a></li>
        <li><a href="/relojes">Relojes</a></li>
        <li><a href="/gafas">Gafas VR</a></li>
        <li><a href="/impresora">Impresoras 3D</a></li>
      </ul>
    </div>
    <div class="social-links text-center text-md-end">
      <a href="https://twitter.com/home" class="twitter"><i class="bi bi-twitter"></i></a>
      <a href="https://www.facebook.com/privacy/consent/?flow=ad_free_subscription&params%5Bafs_variant%5D=first_time&source=ad_free_subscription_blocking_flow" class="facebook"><i class="bi bi-facebook"></i></a>
      <a href="https://www.instagram.com/" class="instagram"><i class="bi bi-instagram"></i></a>
    </div>
  </div>
</footer>

