<app-nabvar></app-nabvar>
<body>

  <main id="main">
  
    <!-- ======= Breadcrumbs ======= -->
    <!-- End Breadcrumbs -->
  
    <!-- ======= Contact Section ======= -->
    <div class="map-section">
      <iframe style="border:0; width: 100%; height: 350px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3109.144897660649!2d-0.3913567846823594!3d39.45889637948529!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd605f8b5b40b7b3%3A0x8f3c45293b90fa1a!2sC%2F%20de%20l'Arxiduc%20Carles%2C%202%2C%2011%2C%2046018%20Val%C3%A8ncia!5e0!3m2!1sen!2ses!4v1646093328339!5m2!1sen!2ses" frameborder="0" allowfullscreen></iframe>
    </div>
  
    <!-- Sección de contacto -->
    <section id="contact" class="contact">
      <div class="container">
        <div class="row justify-content-center" data-aos="fade-up">
          <div class="col-lg-6">
            <!-- Contenido de la columna izquierda -->
            <div class="info-wrap">
              <h3>Equipo de Trabajo</h3>
              <p>En nuestra tienda de tecnología, cada miembro del equipo aporta conocimientos y habilidades únicas para ofrecer una experiencia excepcional a los clientes. Trabajamos en conjunto para mantenernos actualizados en un campo en constante evolución y para brindar un servicio que inspire confianza y fidelidad. Nuestra diversidad fortalece nuestra capacidad para satisfacer las necesidades tecnológicas de todos nuestros clientes. Juntos, impulsamos el éxito de la tienda y promovemos la innovación en el mundo de la tecnología.</p>
            </div>
          </div>
          <div class="col-lg-6">
            <!-- Contenido de la columna derecha -->
            <div class="info-wrap">
              <img src="assets/img/empleados.jpg" alt="Equipo de Trabajo">
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Contact Section -->
  
    <!-- Resto del contenido -->
  
    <section id="contacto2" class="contact mt-5"> <!-- Agrega la clase mt-5 para reducir el espacio -->
      <div class="container">
        <div class="row justify-content-center" data-aos="fade-up">
          <div class="col-lg-10">
            <div class="info-wrap">
              <div class="row">
                <div class="col-lg-4 info">
                  <i class="bi bi-geo-alt"></i>
                  <h4>Localización:</h4>
                  <p>C/ de l'Arxiduc Carles, 2, 11, <br>Patraix, 46018 València</p>
                </div>
                <div class="col-lg-4 info mt-4 mt-lg-0">
                  <i class="bi bi-envelope"></i>
                  <h4>Email:</h4>
                  <p>Bytebazaargmail.com</p> <!-- Aquí agregué el cierre de la etiqueta p -->
                </div>
                <div class="col-lg-4 info mt-4 mt-lg-0">
                  <i class="bi bi-phone"></i>
                  <h4>Teléfono:</h4>
                  <p>944232287<br>681356254</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-4 justify-content-center" data-aos="fade-up"> <!-- Ajusta el margen superior aquí -->
          <div class="col-lg-10">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Tu Nombre" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Tu Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Asunto" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Mensaje" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Su mensaje fue enviado!</div>
              </div>
             
              <div class="text-center"><a href="/contacto" class="btn btn-success btn-sm">Enviar Mensaje</a></div>
            </form>
          </div>
        </div>
      </div>
    </section><!-- End Contact Section -->
  
    <!-- Bootstrap JS y dependencias -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  ><!-- End Contact Section -->
  
  </main><!-- End #main -->
  </body>