<app-nabvar></app-nabvar>
<br><br><br><br><br><br><br>

<div class="content-fluid">
  <div class="row justify-content-center">
  
    <!-- Paginación superior con botones verdes -->
    <div class="col-12 text-center">
      <button class="btn btn-success mx-3 my-3 p-2" (click)="CambiaPagina('Anterior')">Anterior</button>
      <button class="btn btn-success mx-3 my-3 p-2" (click)="CambiaPagina('Primera')">Primera</button>
      <button class="btn btn-success mx-3 my-3 p-2" (click)="CambiaPagina('Ultima')">Última</button>
      <button class="btn btn-success mx-3 my-3 p-2" (click)="CambiaPagina('Siguiente')">Siguiente</button>    
    </div> 
    <!-- Paginación inferior con botones negros menos oscuros -->
    <div class="div-12 text-center">
      <button class="btn btn-dark mx-3 my-3 p-2" (click)="CambiaPagina('Anterior')" >Anterior</button>
      <button class="btn btn-dark mx-3 my-3 p-2" (click)="CambiaPagina('Primera')" >1</button>
      <button class="btn btn-dark mx-3 my-3 p-2">2</button>
      <button class="btn btn-dark mx-3 my-3 p-2">...</button>
      <button class="btn btn-dark mx-3 my-3 p-2" (click)="CambiaPagina('Penultima')">
        {{ this.personajesRyM.info.pages - 1 }}
      </button>
      <button class="btn btn-dark mx-3 my-3 p-2" (click)="CambiaPagina('Ultima')">
        {{ this.personajesRyM.info.pages }}
      </button>
      <button class="btn btn-dark mx-3 my-3 p-2" (click)="CambiaPagina('Siguiente')">Siguiente</button>
    </div> 
  </div><br><br>
  <div class="row justify-content-center">
    <div class="col-12 text-center">
      <h2>¡Elija una tarjeta, Cada tarjeta tiene un descuento sorpresa al presentarla en la tienda!</h2>
      <h3>Una tarjeta valida por cada compra</h3><br><br>
    </div>
  </div>




<br><br>

<div class="row justify-content-center">
  @for (personaje of personajesRyM.results; track personaje) {
    <div class="col-12 col-sm-6 col-md-4 col-lg-4"> 
      <div class="card mb-3">
        <div class="row no-gutters">
          <div class="col-md-4 d-flex align-items-center">
            <img
              src="{{ personaje.image }}"
              class="card-img"
              alt="..."
              style="width: 100%; height: auto; max-height: 300px; margin-top: auto; margin-bottom: auto;"
            />
          </div>
          <div class="col-md-8">
            <div class="card-body"> 
              <h5 class="card-title">{{ personaje.name }}</h5>
              <p class="card-text">{{ personaje.id }}</p>
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>Gender:</strong> {{ personaje.gender }}</li>
                <li class="list-group-item"><strong>Origin:</strong> {{ personaje.origin.name }}</li>
                <li class="list-group-item"><strong>Species:</strong> {{ personaje.species }}</li>
                <li class="list-group-item"><strong>Status:</strong> {{ personaje.status }}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  }
</div>