<app-nabvar></app-nabvar>
<br><br><br><br><br><br><br>

<div class="content-fluid">
  <div class="row justify-content-center">
    <div class="col-12">
      <h2>Data Rick y Morty</h2>
      <h3>{{ personajesRyM.info.count }}</h3>
      <h3>{{ personajesRyM.info.next }}</h3>
      <h3>{{ personajesRyM.info.pages }}</h3>
      <h3>{{ personajesRyM.info.prev }}</h3>
    </div>
    <!-- Paginación superior con botones verdes -->
    <div class="col-12 text-center">
      <button class="btn btn-success mx-3 my-3 p-2" (click)="CambiaPagina('Anterior')">Anterior</button>
      <button class="btn btn-success mx-3 my-3 p-2" (click)="CambiaPagina('Primera')">Primera</button>
      <button class="btn btn-success mx-3 my-3 p-2" (click)="CambiaPagina('Ultima')">Última</button>
      <button class="btn btn-success mx-3 my-3 p-2" (click)="CambiaPagina('Siguiente')">Siguiente</button>    
    </div> 
    <!-- Paginación inferior con botones negros menos oscuros -->
    <div class="div-12 text-center">
      <button class="btn btn-dark mx-3 my-3 p-2" (click)="CambiaPagina('Anterior')" >Anterior</button>
      <button class="btn btn-dark mx-3 my-3 p-2" (click)="CambiaPagina('Primera')" >1</button>
      <button class="btn btn-dark mx-3 my-3 p-2">2</button>
      <button class="btn btn-dark mx-3 my-3 p-2">...</button>
      <button class="btn btn-dark mx-3 my-3 p-2" (click)="CambiaPagina('Penultima')">
        {{ this.personajesRyM.info.pages - 1 }}
      </button>
      <button class="btn btn-dark mx-3 my-3 p-2" (click)="CambiaPagina('Ultima')">
        {{ this.personajesRyM.info.pages }}
      </button>
      <button class="btn btn-dark mx-3 my-3 p-2" (click)="CambiaPagina('Siguiente')">Siguiente</button>
    </div> 
  </div><br><br>
  <div class="row justify-content-center">
    <div class="col-12 text-center">
      <h2>¡Elija una tarjeta, Cada tarjeta tiene un descuento sorpresa al presentarla en la tienda!</h2>
      <h3>Una tarjeta valida por cada compra</h3><br><br>
    </div>
  </div>


  <div class="row justify-content-center">
    <div class="col-12 text-center">
      <button class="btn btn-success" (click)="generarNumeroAleatorio()">Generar Número</button>
    </div>
  </div>
  <p id="result"></p>

<br><br>

  

  <div class="row justify-content-space-around">
    @for (personaje of personajesRyM.results; track personaje) {
    <div class="col-3">
      <div
        class="card"
        style="width: 18rem"
        [routerLink]="'/personajeONE/' + personaje.id"
      >
        <img
          src="{{ personaje.image }}"
          class="card-img-top"
          alt="..."
          width="200px"
        />
        <div class="card-body">
          <h5 class="card-title">{{ personaje.name }}</h5>
          <p class="card-text">{{ personaje.id }}</p>

        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{ personaje.gender }}</li>
          <li class="list-group-item">{{ personaje.created }}</li>
          <li class="list-group-item">{{ personaje.location.name }}</li>
          <li class="list-group-item">{{ personaje.origin.name }}</li>
          <li class="list-group-item">{{ personaje.species }}</li>
          <li class="list-group-item">{{ personaje.status }}</li>
          <li class="list-group-item">{{ personaje.type }}</li>
        </ul>
      </div>
    </div>
    }
  </div>
</div>