<app-nabvar></app-nabvar>

<br><br><br><br>
<body>
  <div class="container">
    <div class="product-card">
       <img src="assets/img/producto1.jpg" >
      <h3>Relojes</h3>
      <p>Precio: $499.99</p>
      <a href="/relojes" class="details-link">Ver Detalles</a>
      <a href="/carrito" class="buy-btn">Comprar</a>
    </div>
    <!-- Repite este bloque para cada producto -->
    <div class="product-card">
      <img src="assets/img/producto2.jpg" alt="Producto 2">
      <h3>Móviles</h3>
      <p>Precio: $999.99</p>
      <a href="/moviles" class="details-link">Ver Detalles</a>
      <a href="/carrito" class="buy-btn">Comprar</a>
    </div>

    <div class="product-card">
        <img src="assets/img/producto3.jpg" alt="Producto 2">
        <h3>Gafas VR</h3>
        <p>Precio: $499.99</p>
        <a href="/gafas" class="details-link">Ver Detalles</a>
        <a href="/carrito" class="buy-btn">Comprar</a>
      </div>

      <div class="product-card">
        <img src="assets/img/producto4.jpg" alt="Producto 2">
        <h3>Impresora 3D</h3>
        <p>Precio: $699.99</p>
        <a href="/impresoras" class="details-link">Ver Detalles</a>
        <a href="/carrito" class="buy-btn">Comprar</a>
      </div>
    <!-- Fin de bloques repetidos -->
  </div>
</body>
