<app-nabvar></app-nabvar>

<section id="hero" style="height: 600px;"> <!-- Ajusta la altura como desees -->
  <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

    <div class="carousel-inner" role="listbox">

      <!-- Slide 1 -->
      <div class="carousel-item active" style="background-image: url(assets/img/slide/gafas5.1.jpg); height: 100%;">
        <div class="carousel-container">
          <div class="carousel-content animate__animated animate__fadeInUp">
            <h2>Bienvenido a <span>Bytebazaar</span></h2>
            <p>Bienvenido a Bytebazaar, tu destino para tecnología innovadora. Descubre una amplia gama de productos, desde gafas VR y móviles de última generación hasta impresoras 3D y relojes táctiles. En Bytebazaar, nos dedicamos a ofrecerte lo mejor en tecnología para satisfacer todas tus necesidades digitales. ¡Explora nuestro catálogo y haz realidad tus sueños tecnológicos!</p>
            <div class="text-center"><a href="/gafas" class="btn-get-started">Leer mas</a></div>
          </div>
        </div>
      </div>

      <!-- Slide 2 -->
      <div class="carousel-item" style="background-image: url(assets/img/slide/Impresora.jpg); height: 100%;">
        <div class="carousel-container">
          <div class="carousel-content animate__animated animate__fadeInUp">
            <h2>Bienvenido a <span>Bytebazaar</span></h2>
            <p>Bienvenido a Bytebazaar, tu destino para tecnología innovadora. Descubre una amplia gama de productos, desde gafas VR y móviles de última generación hasta impresoras 3D y relojes táctiles. En Bytebazaar, nos dedicamos a ofrecerte lo mejor en tecnología para satisfacer todas tus necesidades digitales. ¡Explora nuestro catálogo y haz realidad tus sueños tecnológicos!</p>
            <div class="text-center"><a href="/impresora" class="btn-get-started">Leer mas</a></div>
          </div>
        </div>
      </div>

      <!-- Slide 3 -->
      <div class="carousel-item" style="background-image: url(assets/img/slide/movHome3.jpg); height: 100%;">
        <div class="carousel-container">
          <div class="carousel-content animate__animated animate__fadeInUp">
            <h2>Bienvenido a <span>Bytebazaar</span></h2>
            <p>Bienvenido a Bytebazaar, tu destino para tecnología innovadora. Descubre una amplia gama de productos, desde gafas VR y móviles de última generación hasta impresoras 3D y relojes táctiles. En Bytebazaar, nos dedicamos a ofrecerte lo mejor en tecnología para satisfacer todas tus necesidades digitales. ¡Explora nuestro catálogo y haz realidad tus sueños tecnológicos!</p>
            <div class="text-center"><a href="/moviles" class="btn-get-started">Leer mas</a></div>
          </div>
        </div>
      </div>

      <!-- Slide 4 -->
      <div class="carousel-item" style="background-image: url(assets/img/slide/relojesHome4.jpg); height: 100%;">
        <div class="carousel-container">
          <div class="carousel-content animate__animated animate__fadeInUp">
            <h2>Bienvenido a <span>Bytebazaar</span></h2>
            <p>Bienvenido a Bytebazaar, tu destino para tecnología innovadora. Descubre una amplia gama de productos, desde gafas VR y móviles de última generación hasta impresoras 3D y relojes táctiles. En Bytebazaar, nos dedicamos a ofrecerte lo mejor en tecnología para satisfacer todas tus necesidades digitales. ¡Explora nuestro catálogo y haz realidad tus sueños tecnológicos!</p>
            <div class="text-center"><a href="/relojes" class="btn-get-started">Leer mas</a></div>
          </div>
        </div>
      </div>

    </div>

    <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
    </a>

    <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
    </a>

    <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

  </div>
</section>
  <!-- End Hero -->

    <!-- ======= About Us Section ======= -->
    <section id="about-us" class="about-us">
      <div class="container" data-aos="fade-up">
  
        <div class="row content">
          
          <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-left">
            
              <div style="width: 80%; text-align: justify;">
                <h2>QUIÉNES SOMOS</h2>
                <p>
                  En ByteBazaar, somos tu acceso al futuro digital, ofreciendo una experiencia única en tecnología. Especializados en dispositivos de vanguardia como móviles, 
                  impresoras 3D, relojes inteligentes y gafas VR, proporcionamos las herramientas para explorar, crear y conectarte en el mundo digital.
                </p>
                <h3>NUESTROS OBJETIVOS</h3>
                <ul>
                  <li><i class="ri-check-double-line"></i>Innovación Constante: En ByteBazaar, nos comprometemos a liderar la tecnología con productos que integren las últimas innovaciones del mercado.</li>
                  <li><i class="ri-check-double-line"></i> Experiencia del Cliente: Desde tu primera búsqueda hasta la entrega, nos dedicamos a brindarte una experiencia de compra excepcional, priorizando tu satisfacción.</li>
                  <li><i class="ri-check-double-line"></i> Facilitar tu Conexión Digital: Somos tu aliado en el mundo digital, ofreciéndote herramientas que simplifican tu exploración, creación y conexión en la era tecnológica.</li>
                </ul>
              </div>
            
           
          </div>
          <div class="col-lg-6" data-aos="fade-right">
            <img src="/assets/img/tienda.jpg" class="img-fluid mb-3" style="max-width: 80%;" alt="Descripción de la imagen">
            <img src="/assets/img/tienda2.jpg" class="img-fluid" style="max-width: 80%;" alt="Descripción de la imagen">
          </div>
        </div>
  
      </div>
    </section><!-- End About Us Section -->
    <section id="productos-relacionados" class="productos-relacionados">
      <div class="container">
        <div class="section-title" data-aos="fade-up">
          <h2>Productos Destacados</h2>
          
        </div>
    
        <div class="row" data-aos="fade-up" data-aos-delay="100">
    
          <!-- Producto 1 -->
          <div class="col-lg-6 col-md-6 mb-4">
            <div class="producto">
              <img src="assets/img/producto4.jpg" class="img-fluid" alt="Producto 2">
              <h3>Impresora 3D</h3>
              <p class="precio">$699.99</p>
              <div class="d-flex justify-content-between">
                <a href="/impresora" class="ver-mas">Ver más</a>
                <a href="/carrito" class="btn btn-success btn-sm">Comprar Ahora</a>
              </div>
            </div>
          </div>
          
          <!-- Producto 2 -->
          <div class="col-lg-6 col-md-6 mb-4">
            <div class="producto">
              <img src="assets/img/producto3.jpg" class="img-fluid" alt="Producto 3">
              <h3>Gafas VR</h3>
              <p class="precio">$499.99</p>
              <div class="d-flex justify-content-between">
                <a href="/gafas" class="ver-mas">Ver más</a>
                <a href="/carrito" class="btn btn-success btn-sm">Comprar Ahora</a>
              </div>
            </div>
          </div>
    
          <!-- Producto 3 -->
          <div class="col-lg-6 col-md-6 mb-4">
            <div class="producto">
              <img src="assets/img/producto1.jpg" class="img-fluid" alt="Producto 4">
              <h3>Relojes</h3>
              <p class="precio">$499.99</p>
              <div class="d-flex justify-content-between">
                <a href="/relojes" class="ver-mas">Ver más</a>
                <a href="/carrito" class="btn btn-success btn-sm">Comprar Ahora</a>
              </div>
            </div>
          </div>
    
          <!-- Producto 4 -->
          <div class="col-lg-6 col-md-6 mb-4">
            <div class="producto">
              <img src="assets/img/producto2.jpg" class="img-fluid" alt="Producto 5">
              <h3>Auriculares</h3>
              <p class="precio">$299.99</p>
              <div class="d-flex justify-content-between">
                <a href="/auriculares" class="ver-mas">Ver más</a>
                <a href="/carrito" class="btn btn-success btn-sm">Comprar Ahora</a>
              </div>
            </div>
          </div>
    
        </div>
      </div>
    </section>
      


  