<app-nabvar></app-nabvar>
<br><br><br><br><br>
<div class="container mt-5">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Número de producto</th>
        <th>Nombre del producto</th>
        <th>Cantidad</th>
        <th>Precio por unidad</th>
        <th>Precio final</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Móvil Quantum</td>
        <td>2</td>
        <td>$899.00</td>
        <td>$1798.00</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Impresora 3D Básica</td>
        <td>2</td>
        <td>$349.00</td>
        <td>$698.00</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Reloj Táctil De Lujo</td>
        <td>1</td>
        <td>$499.00</td>
        <td>$499.00</td>
      </tr>
      <tr>
        <td>4</td>
        <td>Móvil Avanzado</td>
        <td>1</td>
        <td>$799.00</td>
        <td>$799.00</td>
      </tr>
      <!-- Agrega más filas según sea necesario -->
    </tbody>
  </table>
  
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-8">
            <h2>Selecciona el método de pago:</h2>
            <div class="col-md-6">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="metodoPago" id="tarjetaCredito" value="tarjetaCredito" checked>
                <label class="form-check-label" for="tarjetaCredito">
                  Tarjeta de Crédito
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="metodoPago" id="tarjetaDebito" value="tarjetaDebito">
                <label class="form-check-label" for="tarjetaDebito">
                  Tarjeta de Débito
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="metodoPago" id="paypal" value="paypal">
                <label class="form-check-label" for="paypal">
                  PayPal
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="metodoPago" id="transferencia" value="transferencia">
                <label class="form-check-label" for="transferencia">
                  Transferencia Bancaria
                </label>
              </div>
            </div>
      
            <div class="card mt-4">
              <div class="card-body">
                <h2 class="card-title">Datos de la Tarjeta</h2>
                <form>
                  <div class="form-group">
                    <label for="cuentaBancaria">Número de cuenta bancaria:</label>
                    <input type="text" class="form-control" id="cuentaBancaria" placeholder="Ingresa tu número de cuenta">
                  </div>
                  <div class="form-group">
                    <label for="fechaVencimiento">Fecha de vencimiento:</label>
                    <input type="text" class="form-control" id="fechaVencimiento" placeholder="MM/AA">
                  </div>
                  <div class="form-group">
                    <label for="codigoSeguridad">Código de seguridad:</label>
                    <input type="text" class="form-control" id="codigoSeguridad" placeholder="CVC">
                  </div><br>
                  <button type="submit" class="btn btn-success">Finalizar Pago</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Bootstrap JS y dependencias -->
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </div>
   