<app-nabvar></app-nabvar>
<br><br><br><br><br>
<div class="container">
  <div class="row">

    <!-- Modelo de gafas VR 1 -->
    <div class="col-md-6 mb-4">
      <div class="card h-100">
        <img src="assets\img\gafas\gafas (3).jpg" width="400" height="300" class="card-img-top" alt="Gafas VR 1">
        <div class="card-body">
          <h5 class="card-title">Gafas de Realidad Virtual Básicas</h5>
          <p class="card-text">Las gafas de realidad virtual básicas ofrecen una experiencia inmersiva a un precio asequible. Perfectas para explorar mundos virtuales y disfrutar de contenido 3D.</p>
          <p class="card-text">Especificaciones técnicas:</p>
          <ul>
            <li>Compatibilidad: Smartphone</li>
            <li>Lentes ajustables</li>
            <li>Correa ajustable para la cabeza</li>
          </ul>
          <p class="card-text">Características destacadas:</p>
          <ul>
            <li>Amplia variedad de aplicaciones disponibles</li>
            <li>Fácil de usar y configurar</li>
            <li>Compatible con la mayoría de los smartphones</li>
          </ul>
          <a href="/carrito" class="btn btn-success">Comprar Ahora</a>
        </div>
      </div>
    </div>

    <!-- Modelo de gafas VR 2 -->
    <div class="col-md-6 mb-4">
      <div class="card h-100">
        <img src="assets\img\gafas\gafas (2).jpg" width="400" height="300" class="card-img-top" alt="Gafas VR 2">
        <div class="card-body">
          <h5 class="card-title">Gafas de Realidad Virtual Avanzadas</h5>
          <p class="card-text">Las gafas de realidad virtual avanzadas ofrecen una experiencia inmersiva de alta calidad. Con tecnología avanzada y comodidad ergonómica, te sumergirán en otro mundo.</p>
          <p class="card-text">Especificaciones técnicas:</p>
          <ul>
            <li>Compatibilidad: PC, consolas</li>
            <li>Resolución de pantalla mejorada</li>
            <li>Seguimiento de movimiento</li>
          </ul>
          <p class="card-text">Características destacadas:</p>
          <ul>
            <li>Experiencia de juego realista</li>
            <li>Controladores táctiles incluidos</li>
            <li>Audio envolvente integrado</li>
          </ul>
          <a href="/carrito" class="btn btn-success">Comprar Ahora</a>
        </div>
      </div>
    </div>

    <!-- Modelo de gafas VR 3 -->
    <div class="col-md-6 mb-4">
      <div class="card h-100">
        <img src="assets\img\gafas\gafas (4).jpg" width="400" height="300" class="card-img-top" alt="Gafas VR 3">
        <div class="card-body">
          <h5 class="card-title">Gafas de Realidad Virtual para Entretenimiento</h5>
          <p class="card-text">Las gafas de realidad virtual para entretenimiento están diseñadas para ofrecer una experiencia inigualable al ver películas, videos y eventos en 360 grados desde la comodidad de tu hogar.</p>
          <p class="card-text">Especificaciones técnicas:</p>
          <ul>
            <li>Compatibilidad: Smartphones, consolas</li>
            <li>Lentes de alta calidad</li>
            <li>Audio integrado</li>
          </ul>
          <p class="card-text">Características destacadas:</p>
          <ul>
            <li>Amplia biblioteca de contenido VR</li>
            <li>Comodidad para uso prolongado</li>
            <li>Experiencia cinematográfica inmersiva</li>
          </ul>
          <a href="/carrito" class="btn btn-success">Comprar Ahora</a>
        </div>
      </div>
    </div>

    <!-- Modelo de gafas VR 4 -->
    <div class="col-md-6 mb-4">
      <div class="card h-100">
        <img src="assets\img\gafas\gafas (8).jpg" width="400" height="300" class="card-img-top" alt="Gafas VR 4">
        <div class="card-body">
          <h5 class="card-title">Gafas de Realidad Virtual Profesionales</h5>
          <p class="card-text">Las gafas de realidad virtual profesionales están diseñadas para aplicaciones comerciales y de diseño. Con precisión y rendimiento superiores, te permiten visualizar y interactuar con modelos 3D de manera realista.</p>
          <p class="card-text">Especificaciones técnicas:</p>
          <ul>
            <li>Compatibilidad: PC, estaciones de trabajo</li>
            <li>Resolución de alta definición</li>
            <li>Seguimiento de posición y gestos</li>
          </ul>
          <p class="card-text">Características destacadas:</p>
          <ul>
            <li>Interfaz de usuario intuitiva</li>
            <li>Compatibilidad con software de diseño 3D</li>
            <li>Aplicaciones en arquitectura, medicina, diseño industrial, etc.</li>
          </ul>
          <a href="/carrito" class="btn btn-success">Comprar Ahora</a>
        </div>
      </div>
    </div>

  </div>
</div>
 <!-- ======= Testimonials Section ======= -->
 <section id="testimonials" class="testimonials section-bg">
  <div class="container">

    <div class="row">

      <div class="col-lg-6" data-aos="fade-up">
        <div class="testimonial-item">
          <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
          <h3>Saul Goodman</h3>
          <h4>Ceo &amp; Founder</h4>
          <p>
            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
            "Las gafas VR Immersia son simplemente increíbles. La duración de la batería es asombrosa. Puedo sumergirme en mundos virtuales durante horas sin preocuparme por quedarme sin energía. Esto ha transformado por completo mi experiencia de juego y entretenimiento, brindándome horas de diversión ininterrumpida. ¡Definitivamente, una compra que vale la pena!"
            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
          </p>
        </div>
      </div>

      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
        <div class="testimonial-item mt-4 mt-lg-0">
          <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
          <h3>Sara Wilsson</h3>
          <h4>Designer</h4>
          <p>
            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
            "Desde que tengo las gafas VR DreamVision, mi forma de consumir contenido ha cambiado por completo. La autonomía de la batería es excepcional, lo que me permite disfrutar de películas, series y videos en realidad virtual durante largos períodos sin interrupciones. Es como llevar un cine portátil conmigo donde quiera que vaya. ¡Una auténtica revolución en el entretenimiento digital!"
            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
          </p>
        </div>
      </div>

      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
        <div class="testimonial-item mt-4">
          <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
          <h3>Jena Karlis</h3>
          <h4>Store Owner</h4>
          <p>
            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
            "Nunca pensé que unas gafas VR pudieran hacer tanto por mi creatividad hasta que conseguí las RiftMaster. La duración de la batería es fenomenal, lo que me permite sumergirme en sesiones de diseño y creación de contenido en realidad virtual sin preocuparme por los constantes descansos para recargar. Estas gafas han elevado mi capacidad creativa a nuevas alturas, convirtiéndose en una herramienta indispensable para mi trabajo."
            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
          </p>
        </div>
      </div>

      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
        <div class="testimonial-item mt-4">
          <img src="assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
          <h3>Matt Brandon</h3>
          <h4>Freelancer</h4>
          <p>
            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
            "Con las gafas VR VisionaryX, he descubierto un nuevo nivel de inmersión en mis juegos favoritos. La duración de la batería es excepcionalmente larga, lo que me permite adentrarme en mundos virtuales durante horas sin interrupciones. Esta libertad de movimiento y tiempo de juego prolongado ha redefinido por completo mi experiencia de juego, haciéndola más envolvente y emocionante que nunca. ¡Definitivamente, un imprescindible para cualquier entusiasta de la realidad virtual!"
            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
          </p>
        </div>
      </div>

    

     

    </div>

  </div>
</section><!-- End Testimonials Section -->
<!-- Sección de Productos Relacionados Destacados -->
<section id="productos-relacionados" class="productos-relacionados">
  <div class="container">
    <div class="section-title" data-aos="fade-up">
      <h2>Productos Relacionados Destacados</h2>
      <p>Explora otros productos que podrían interesarte</p>
    </div>

    <div class="row" data-aos="fade-up" data-aos-delay="100">

      <!-- Producto 1 -->
      <div class="col-lg-4 col-md-6">
        <div class="producto">
            <img src="assets/img/producto4.jpg" class="img-fluid" alt="Producto 2">
            <h3>Impresora 3D</h3>
            <p class="precio">$699.99</p>
            <a href="/carrito" class="btn-comprar">Comprar Ahora</a>
        </div>
    </div>
      <!-- Producto 2 -->
      <div class="col-lg-4 col-md-6">
        <div class="producto">
          <img src="assets/img/producto2.jpg" class="img-fluid" alt="Producto 3">
          <h3>Móviles</h3>
          <p class="precio">$999.99</p>
          <a href="/carrito" class="btn-comprar">Comprar Ahora</a>
        </div>
      </div>

      <!-- Producto 3 -->
      <div class="col-lg-4 col-md-6">
        <div class="producto">
          <img src="assets/img/producto1.jpg" class="img-fluid" alt="Producto 4">
          <h3>Relojes</h3>
          <p class="precio">$499.99</p>
          <a href="/carrito" class="btn-comprar">Comprar Ahora</a>
        </div>
      </div>

    </div>
  </div>
</section>

      