<app-nabvar></app-nabvar>


<form class="formulario">

    <h1>REGISTRARSE</h1>
    <div class="contenedor">

        <div class="input-contenedor">
            <i class="fas fa-user icon"></i>
            <input type="text" placeholder="Nombre y apellidos">

        </div>

        <div class="input-contenedor">
            <i class="fas fa-user icon"></i>
            <input type="text" placeholder="Nombre de Usuario">


        </div>



        <div class="input-contenedor">
            <i class="fas fa-envelope icon"></i>
            <input type="text" placeholder="Correo Electronico">

        </div>

        <div class="input-contenedor">
            <i class="fas fa-key icon"></i>
            <input type="password" placeholder="Contraseña">

        </div>
        <input type="checkbox"  name="Edad" class="Edad"> Certifico que soy mayor de 18 años.
        <input type="submit" value="Registrarse" class="button">
        <p>Al registrarte, aceptas nuestras condiciones de uso y política de privacidad.</p>
        <p>¿Ya tienes una cuenta?<a class="link" routerLink="/login">Iniciar Sesión</a></p>
    </div>

</form>