<app-nabvar></app-nabvar>
<br><br><br><br><br><br>

<div class="content-fluid">

    <div class="row justify-content-center">
        <div class="col-2" (click)="CambiaChar(personajeONE.id-1)">
          <button class="btn btn-primary">Anterior</button>
        </div>
        <div class="col-2" (click)="CambiaChar(1)">
          <button class="btn btn-primary">First</button>
        </div>
       
        <!-- este es el div de la tarjeta -->
      <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img src="{{personajeONE.image}}" class="card-img-top" alt="..." width="200px">
                <div class="card-body">
                  <h5 class="card-title">{{personajeONE.name}}</h5>
                  <p class="card-text">{{personajeONE.id}}</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">{{personajeONE.gender}}</li>
      
                  
                  <li class="list-group-item">{{personajeONE.origin.name}}</li>
                
                 
                  <li class="list-group-item">{{personajeONE.species}}</li>
                  <li class="list-group-item">{{personajeONE.status}}</li>
                  <li class="list-group-item">{{personajeONE.type}}</li>
                  
                 
                </ul>
              </div>
        </div>

        <div class="col-2" (click)="CambiaChar(826)">
          <button class="btn btn-primary">Last</button>
        </div>
        <div class="col-2" (click)="CambiaChar(personajeONE.id +1)">
          <button class="btn btn-primary">Siguiente</button>
        </div>
    </div>
