<app-nabvar></app-nabvar>
<br><br><br><br><br><br>




<div class="container">
  <div class="row">

    <!-- Modelo de móvil 1 -->
    <div class="col-md-6 mb-4">
      <div class="card h-100">
        <img src="/assets/img/Moviles/movil2.jpeg" class="card-img-top" alt="Móvil 1">
        <div class="card-body">
          <h5 class="card-title">Móvil Innovador</h5>
          <p class="card-text">El móvil Innovador es el futuro en tus manos. Con un diseño revolucionario y tecnología de vanguardia, te brinda una experiencia única.</p>
          <p class="card-text">Especificaciones técnicas:</p>
          <ul>
            <li>Procesador: Octa-Core a 2.8GHz</li>
            <li>RAM: 8GB DDR4</li>
            <li>Almacenamiento: 256GB</li>
            <li>Pantalla: 6.5 pulgadas OLED</li>
          </ul>
          <p class="card-text">Características destacadas:</p>
          <ul>
            <li>Diseño elegante y ergonómico</li>
            <li>Cámara avanzada de 64MP</li>
            <li>Batería de larga duración</li>
          </ul>
    
          <a href="/carrito" class="btn btn-success" >Comprar Ahora</a>
        </div>
      </div>
    </div>

    <!-- Modelo de móvil 2 -->
    <div class="col-md-6 mb-4">
      <div class="card h-100">
        <img src="/assets/img/Moviles/movil3.jpeg" class="card-img-top" alt="Móvil 2">
        <div class="card-body">
          <h5 class="card-title">Móvil Avanzado</h5>
          <p class="card-text">Descubre el poder y la innovación con el móvil Avanzado. Equipado con lo último en tecnología y un diseño futurista, este dispositivo te llevará más allá de tus límites.</p>
          <p class="card-text">Especificaciones técnicas:</p>
          <ul>
            <li>Procesador: Hexa-Core a 3.2GHz</li>
            <li>RAM: 10GB DDR5</li>
            <li>Almacenamiento: 512GB SSD</li>
            <li>Pantalla: 6.8 pulgadas AMOLED</li>
          </ul>
          <p class="card-text">Características destacadas:</p>
          <ul>
            <li>Pantalla de alta resolución</li>
            <li>Cámara cuádruple con IA</li>
            <li>Carga inalámbrica rápida</li>
          </ul>
          <a href="/carrito" class="btn btn-success" >Comprar Ahora</a>
        </div>
      </div>
    </div>

    <!-- Modelo de móvil 3 -->
    <div class="col-md-6 mb-4">
      <div class="card h-100">
        <img src="/assets/img/Moviles/movil4.jpeg" class="card-img-top" alt="Móvil 3">
        <div class="card-body">
          <h5 class="card-title">Móvil Élite</h5>
          <p class="card-text">El móvil Élite es la elección definitiva para aquellos que buscan lo mejor. Con un rendimiento excepcional y un diseño premium, este dispositivo te ofrece lo último en tecnología y estilo.</p>
          <p class="card-text">Especificaciones técnicas:</p>
          <ul>
            <li>Procesador: Octa-Core a 3.5GHz</li>
            <li>RAM: 16GB DDR6</li>
            <li>Almacenamiento: 1TB SSD</li>
            <li>Pantalla: 7.0 pulgadas QHD+</li>
          </ul>
          <p class="card-text">Características destacadas:</p>
          <ul>
            <li>Diseño premium de vidrio y metal</li>
            <li>Sistema de cámaras profesionales</li>
            <li>Sonido envolvente de alta calidad</li>
          </ul>
          <a href="/carrito" class="btn btn-success" >Comprar Ahora</a>
        </div>
      </div>
    </div>

    <!-- Modelo de móvil 4 -->
    <div class="col-md-6 mb-4">
      <div class="card h-100">
        <img src="/assets/img/Moviles/movil5.jpeg" class="card-img-top" alt="Móvil 4">
        <div class="card-body">
          <h5 class="card-title">Móvil Ultimate</h5>
          <p class="card-text">El móvil Ultimate es la combinación perfecta de estilo y potencia. Con un diseño moderno y especificaciones avanzadas, este dispositivo te ofrece todo lo que necesitas y más.</p>
          <p class="card-text">Especificaciones técnicas:</p>
          <ul>
            <li>Procesador: Deca-Core a 3.8GHz</li>
            <li>RAM: 24GB DDR6</li>
            <li>Almacenamiento: 2TB SSD</li>
            <li>Pantalla: 6.9 pulgadas 4K HDR</li>
          </ul>
          <p class="card-text">Características destacadas:</p>
          <ul>
            <li>Diseño premium de aluminio y vidrio</li>
            <li>Cámara de 108MP con zoom óptico 10x</li>
            <li>Pantalla HDR con alta tasa de refresco</li>
          </ul>
          <a href="/carrito" class="btn btn-success" >Comprar Ahora</a>
        </div>
      </div>
    </div>

  </div>
</div>

 <!-- ======= Testimonials Section ======= -->
 <section id="testimonials" class="testimonials section-bg">
  <div class="container">

    <div class="row">

      <div class="col-lg-6" data-aos="fade-up">
        <div class="testimonial-item">
          <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
          <h3>Saul Goodman</h3>
          <h4>Ceo &amp; Founder</h4>
          <p>
            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
            "Estoy asombrado con el Móvil UltraTech. Desde la calidad excepcional de la pantalla hasta la velocidad asombrosa del procesador, cada aspecto supera mis expectativas. Este dispositivo ha transformado por completo mi experiencia móvil, proporcionando un rendimiento inigualable en mi trabajo y momentos de entretenimiento."
            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
          </p>
        </div>
      </div>

      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
        <div class="testimonial-item mt-4 mt-lg-0">
          <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
          <h3>Sara Wilsson</h3>
          <h4>Designer</h4>
          <p>
            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
            "La duración de la batería de mi Móvil UltraTech es una verdadera maravilla. Puedo utilizarlo durante todo el día sin preocuparme por quedarme sin energía. Esto ha mejorado significativamente mi productividad y ha eliminado la necesidad constante de cargar el dispositivo. Una de las mejores inversiones que he realizado."
            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
          </p>
        </div>
      </div>

      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
        <div class="testimonial-item mt-4">
          <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
          <h3>Jena Karlis</h3>
          <h4>Store Owner</h4>
          <p>
            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
            "Mi Móvil UltraTech se ha vuelto indispensable en mi vida diaria. Desde el trabajo hasta el entretenimiento, este dispositivo ha demostrado ser la elección perfecta. Su diseño elegante y la eficiencia de la batería son solo algunos de los aspectos que hacen que este móvil se destaque."
            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
          </p>
        </div>
      </div>

      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
        <div class="testimonial-item mt-4">
          <img src="assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
          <h3>Matt Brandon</h3>
          <h4>Freelancer</h4>
          <p>
            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
            "La combinación de un diseño elegante y una conectividad rápida hacen que mi Móvil UltraTech sea excepcional. Me sorprendió gratamente la velocidad con la que puedo acceder y compartir información. La experiencia de usuario se ve realzada por estos detalles, convirtiendo cada interacción en una experiencia eficiente y placentera."
            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
          </p>
        </div>
      </div>

    

     

    </div>

  </div>
</section><!-- End Testimonials Section -->
<!-- Sección de Productos Relacionados Destacados -->
<section id="productos-relacionados" class="productos-relacionados">
  <div class="container">
    <div class="section-title" data-aos="fade-up">
      <h2>Productos Relacionados Destacados</h2>
      <p>Explora otros productos que podrían interesarte</p>
    </div>

    <div class="row" data-aos="fade-up" data-aos-delay="100">

      <!-- Producto 1 -->
      <div class="col-lg-4 col-md-6">
        <div class="producto">
            <img src="assets/img/producto4.jpg" class="img-fluid" alt="Producto 2">
            <h3>Impresora 3D</h3>
            <p class="precio">$699.99</p>
            <a href="/carrito" class="btn-comprar">Comprar Ahora</a>
        </div>
    </div>
      <!-- Producto 2 -->
      <div class="col-lg-4 col-md-6">
        <div class="producto">
          <img src="assets/img/producto3.jpg" class="img-fluid" alt="Producto 3">
          <h3>Gafas VR</h3>
          <p class="precio">$499.99</p>
          <a href="/carrito" class="btn-comprar">Comprar Ahora</a>
        </div>
      </div>

      <!-- Producto 3 -->
      <div class="col-lg-4 col-md-6">
        <div class="producto">
          <img src="assets/img/producto1.jpg" class="img-fluid" alt="Producto 4">
          <h3>Relojes</h3>
          <p class="precio">$499.99</p>
          <a href="/carrito" class="btn-comprar">Comprar Ahora</a>
        </div>
      </div>

    </div>
  </div>
</section>