<app-nabvar></app-nabvar>

<br><br><br><br><br><br><br>


<div class="container">
  <div class="row">

    <!-- Modelo de reloj táctil 1 -->
    <div class="col-md-6 mb-4">
      <div class="card h-100">
        <img src="assets\img\relojes\relojes (5).jpg" class="card-img-top" alt="Reloj Táctil 1">
        <div class="card-body">
          <h5 class="card-title">Reloj Táctil Deportivo</h5>
          <p class="card-text">El reloj táctil deportivo es perfecto para monitorear tu actividad física diaria. Con funciones avanzadas y un diseño resistente, te acompaña en cada paso.</p>
          <p class="card-text">Especificaciones técnicas:</p>
          <ul>
            <li>Pantalla táctil a color</li>
            <li>Resistente al agua</li>
            <li>Seguimiento de actividad</li>
          </ul>
          <p class="card-text">Características destacadas:</p>
          <ul>
            <li>Monitor de ritmo cardíaco</li>
            <li>GPS integrado</li>
            <li>Notificaciones inteligentes</li>
          </ul>
          <a href="/carrito" class="btn btn-success">Comprar Ahora</a>
        </div>
      </div>
    </div>

    <!-- Modelo de reloj táctil 2 -->
    <div class="col-md-6 mb-4">
      <div class="card h-100">
        <img src="assets\img\relojes\relojes (4).jpg" class="card-img-top" alt="Reloj Táctil 2">
        <div class="card-body">
          <h5 class="card-title">Reloj Táctil Elegante</h5>
          <p class="card-text">El reloj táctil elegante combina estilo y funcionalidad. Con un diseño minimalista y características inteligentes, es el complemento perfecto para tu estilo de vida.</p>
          <p class="card-text">Especificaciones técnicas:</p>
          <ul>
            <li>Pantalla táctil AMOLED</li>
            <li>Correa intercambiable</li>
            <li>Seguimiento del sueño</li>
          </ul>
          <p class="card-text">Características destacadas:</p>
          <ul>
            <li>Control de música</li>
            <li>Notificaciones de llamadas y mensajes</li>
            <li>Monitor de estrés</li>
          </ul>
          <a href="/carrito" class="btn btn-success">Comprar Ahora</a>
        </div>
      </div>
    </div>

    <!-- Modelo de reloj táctil 3 -->
    <div class="col-md-6 mb-4">
      <div class="card h-100">
        <img src="assets\img\relojes\relojes (3).jpg" class="card-img-top" alt="Reloj Táctil 3">
        <div class="card-body">
          <h5 class="card-title">Reloj Táctil De Lujo</h5>
          <p class="card-text">El reloj táctil de lujo combina artesanía excepcional con tecnología de última generación. Con un diseño exquisito y funciones avanzadas, es una declaración de estilo.</p>
          <p class="card-text">Especificaciones técnicas:</p>
          <ul>
            <li>Pantalla táctil de zafiro</li>
            <li>Acabado en acero inoxidable</li>
            <li>Resistencia al agua</li>
          </ul>
          <p class="card-text">Características destacadas:</p>
          <ul>
            <li>Seguimiento de actividad de alta precisión</li>
            <li>Aplicaciones integradas</li>
            <li>Compatibilidad con asistentes virtuales</li>
          </ul>
          <a href="/carrito" class="btn btn-success">Comprar Ahora</a>
        </div>
      </div>
    </div>

    <!-- Modelo de reloj táctil 4 -->
    <div class="col-md-6 mb-4">
      <div class="card h-100">
        <img src="assets\img\relojes\relojes (8).jpg" class="card-img-top" alt="Reloj Táctil 4">
        <div class="card-body">
          <h5 class="card-title">Reloj Táctil Casual</h5>
          <p class="card-text">El reloj táctil de aventura es tu compañero para explorar el mundo. Con funciones específicas para actividades al aire libre y un diseño resistente, está listo para cualquier desafío.</p>
          <p class="card-text">Especificaciones técnicas:</p>
          <ul>
            <li>Pantalla táctil resistente a los arañazos</li>
            <li>GPS y brújula integrados</li>
            <li>Altímetro y barómetro</li>
          </ul>
          <p class="card-text">Características destacadas:</p>
          <ul>
            <li>Mapas topográficos precargados</li>
            <li>Modo de supervivencia con batería extendida</li>
            <li>Resistencia a condiciones extremas</li>
          </ul>
          <a href="/carrito" class="btn btn-success">Comprar Ahora</a>
        </div>
      </div>
    </div>

  </div>
</div>




  <!-- ======= Testimonials Section ======= -->
  <section id="testimonials" class="testimonials section-bg">
    <div class="container">

      <div class="row">

        <div class="col-lg-6" data-aos="fade-up">
          <div class="testimonial-item">
            <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
            <h3>Saul Goodman</h3>
            <h4>Ceo &amp; Founder</h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              "He quedado verdaderamente impresionado con este producto. Desde la calidad excepcional de la pantalla hasta la velocidad asombrosa del procesador, cada aspecto supera mis expectativas. Este dispositivo ha transformado por completo mi experiencia tecnológica, proporcionando un rendimiento inigualable en mi trabajo y momentos de entretenimiento."
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>
        </div>

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
          <div class="testimonial-item mt-4 mt-lg-0">
            <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
            <h3>Sara Wilsson</h3>
            <h4>Designer</h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              "Este dispositivo se ha vuelto indispensable en mi vida diaria. No puedo concebir cómo sería mi día sin esta herramienta versátil. Desde el trabajo hasta el entretenimiento, este producto ha demostrado ser la elección perfecta. Su diseño elegante y la eficiencia de la batería son solo algunos de los aspectos que hacen que este dispositivo se destaque."
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>
        </div>

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
          <div class="testimonial-item mt-4">
            <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
            <h3>Jena Karlis</h3>
            <h4>Store Owner</h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              "La duración de la batería de este producto es una verdadera maravilla. Puedo utilizarlo durante todo el día sin preocuparme por quedarme sin energía. Esto ha mejorado significativamente mi productividad y ha eliminado la necesidad constante de cargar el dispositivo. Una de las mejores inversiones que he realizado."
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>
        </div>

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
          <div class="testimonial-item mt-4">
            <img src="assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
            <h3>Matt Brandon</h3>
            <h4>Freelancer</h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              "La combinación de un diseño elegante y una conectividad rápida hacen que este producto sea excepcional. Me sorprendió gratamente la velocidad con la que puedo acceder y compartir información. La experiencia de usuario se ve realzada por estos detalles, convirtiendo cada interacción en una experiencia eficiente y placentera."
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>
        </div>

    

      </div>

    </div>
  </section><!-- End Testimonials Section -->

  
<!-- Sección de Productos Relacionados Destacados -->
<section id="productos-relacionados" class="productos-relacionados">
  <div class="container">
    <div class="section-title" data-aos="fade-up">
      <h2>Productos Relacionados Destacados</h2>
      <p>Explora otros productos que podrían interesarte</p>
    </div>

    <div class="row" data-aos="fade-up" data-aos-delay="100">

      <!-- Producto 1 -->
      <div class="col-lg-4 col-md-6">
        <div class="producto">
            <img src="assets/img/producto2.jpg" class="img-fluid" alt="Producto 2">
            <h3>Móviles</h3>
            <p class="precio">$999.99</p>
            <a href="/carrito" class="btn-comprar">Comprar Ahora</a>
        </div>
    </div>
      <!-- Producto 2 -->
      <div class="col-lg-4 col-md-6">
        <div class="producto">
          <img src="assets/img/producto3.jpg" class="img-fluid" alt="Producto 3">
          <h3>Gafas VR</h3>
          <p class="precio">$499.99</p>
          <a href="/carrito" class="btn-comprar">Comprar Ahora</a>
        </div>
      </div>

      <!-- Producto 3 -->
      <div class="col-lg-4 col-md-6">
        <div class="producto">
          <img src="assets/img/producto4.jpg" class="img-fluid" alt="Producto 4">
          <h3>Impresora 3D</h3>
          <p class="precio">$699.99</p>
          <a href="/carrito" class="btn-comprar">Comprar Ahora</a>
        </div>
      </div>

    </div>
  </div>
</section>